# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/
# The following is specific and should only apply to the environment you have
replit.nix

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
__pycache__

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py

# Flask/Django environments:
instance/
.webassets-cache

# Scrapy
.scrapy

# Node.js
npm-debug.log*

# PyCharm / JetBrains IDE
.idea/
*.iml

# Jupyter Notebook
.ipynb_checkpoints

# Visual Studio Code
.vscode/

# Replit files
.replit